@import 'tailwindcss';
@import 'flowbite';

@theme {
	/* Твои кастомные цвета */
	--color-primary-50: #eff6ff;
	--color-primary-100: #dbeafe;
	--color-primary-200: #bfdbfe;
	--color-primary-300: #93c5fd;
	--color-primary-400: #60a5fa;
	--color-primary-500: #3b82f6;
	--color-primary-600: #2563eb;
	--color-primary-700: #1d4ed8;
	--color-primary-800: #1e40af;
	--color-primary-900: #1e3a8a;
	
	/* Компоненты */
	--spinner-color: rgb(59, 130, 246);
}

html,
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100vw;
}

html {
	overflow-y: scroll;
}

body {
	position: relative;
}

button {
	cursor: pointer;
}
