@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: #eff6ff;
	--color-primary-100: #dbeafe;
	--color-primary-200: #bfdbfe;
	--color-primary-300: #93c5fd;
	--color-primary-400: #60a5fa;
	--color-primary-500: #3b82f6;
	--color-primary-600: #2563eb;
	--color-primary-700: #1d4ed8;
	--color-primary-800: #1e40af;
	--color-primary-900: #1e3a8a;

	--color-secondary-50: #f0f9ff;
	--color-secondary-100: #e0f2fe;
	--color-secondary-200: #bae6fd;
	--color-secondary-300: #7dd3fc;
	--color-secondary-400: #38bdf8;
	--color-secondary-500: #0ea5e9;
	--color-secondary-600: #0284c7;
	--color-secondary-700: #0369a1;
	--color-secondary-800: #075985;
	--color-secondary-900: #0c4a6e;
}

@source '../node_modules/flowbite-svelte/dist';
@source '../node_modules/flowbite-svelte-icons/dist';

@layer base {
	/* Fix missing Tailwind CSS variables */
	*,
	::before,
	::after {
		--tw-border-style: solid;
		--tw-border-width: 0;
		--tw-ring-offset-width: 0px;
		--tw-ring-offset-color: #fff;
		--tw-ring-color: rgb(59 130 246 / 0.5);
		--tw-ring-offset-shadow: 0 0 #0000;
		--tw-ring-shadow: 0 0 #0000;
		--tw-shadow: 0 0 #0000;
		--tw-shadow-colored: 0 0 #0000;
		border-color: rgb(223, 223, 223);
	}

	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}

	/* Global text colors */
	p, span, li, td, th, label {
		@apply text-gray-600 dark:text-gray-200;
	}

	h1, h2, h3, h4, h5, h6 {
		@apply text-gray-900 dark:text-white;
	}
}

html,
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100vw;
}

html {
	overflow-y: scroll;
}

body {
	position: relative;
}

button {
	cursor: pointer;
}
