name: Deploy

on:
  workflow_dispatch:
    inputs:
      app:
        description: "Application to deploy"
        required: true
        type: choice
        options:
          - both
          - ui
          - api
        default: "both"
  # push:
  #   branches: [main]

jobs:
  production:
    uses: Service-Pool/scripts/.github/workflows/reusable-deploy.yml@main
    with:
      repo_url: git@github.com:${{ github.repository }}.git
      destination: /var/www/llms-txt
      branch: ${{ github.ref_name }}
      post_deploy: |
        case ${{ github.event.inputs.app }} in
          ui|both)
            echo Deploying UI...
            cd /var/www/llms-txt/apps/ui/.devcontainer/mapped
            docker compose down
            docker compose up --build -d --wait
            bash cmd-run.sh
            ;;
        esac
        case ${{ github.event.inputs.app }} in
          api|both)
            echo Deploying API...
            cd /var/www/llms-txt/apps/api/.devcontainer/mapped
            docker compose down
            docker compose up --build -d --wait
            bash cmd-run.sh
            ;;
        esac
    secrets: inherit
