name: Deploy

on:
  workflow_dispatch:
    inputs:
      app:
        description: "Application to deploy"
        required: true
        type: choice
        options:
          - both
          - ui
          - api
        default: "both"
  # push:
  #   branches: [main]

jobs:
  production:
    uses: Service-Pool/scripts/.github/workflows/reusable-deploy.yml@main
    with:
      repo_url: git@github.com:${{ github.repository }}.git
      destination: /var/www/llms-txt
      branch: ${{ github.ref_name }}
      post_deploy: |
        deploy_ui() {
          echo Deploying UI...
          cd /var/www/llms-txt/apps/ui/.devcontainer/mapped
          docker compose down
          docker compose up --build -d --wait
          bash cmd-run.sh
        }
        deploy_api() {
          echo Deploying API...
          cd /var/www/llms-txt/apps/api/.devcontainer/mapped
          docker compose down
          docker compose up --build -d --wait
          bash cmd-run.sh
        }
        case ${{ github.event.inputs.app }} in
          both)
            deploy_ui &
            deploy_api &
            wait
            ;;
          ui) deploy_ui ;;
          api) deploy_api ;;
        esac
    secrets: inherit
